﻿@model TestPractico.Models.Entities.AlbumSet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AlbumSet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
